
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 20px;
}
/* h3 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px;
} */
h3 {
    font-family: cursive;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid #ffcc00;
    /* display: inline-block; */
}
.result {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #1f1f1f;
    border: 1px solid #333333;
    border-radius: 8px;
    /* width: 80%; */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}
th, td {
    padding: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-align: left; */
    font-family: emoji;
}
th {
    background-color: #1f1f1f;
    border-bottom: 2px solid #333333;
    color: #00BFFF;
    font-size:25px;
    padding-left: 25px;
    padding-right: 25px;
    /* font-family: math; */
}
tr:nth-child(even) {
    background-color: #2a2a2a;
    color: #9ef080;
}
tr:nth-child(odd) {
    background-color: #1e1e1e;
    color: #AFEEEE;
}
tr:hover {
    background-color: #333333;
}